/* TextMarker Component - Modern text highlight effect */

.textMarker {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.textMarker::before {
  content: '';
  position: absolute;
  bottom: 0.1em;
  left: -0.05em;
  right: -0.05em;
  height: 0.6em;
  background-color: var(--marker-color);
  border-radius: 3px;
  z-index: -1;
  opacity: 0.7;
}

/* Dark mode adjustment - slightly more visible */
:global(html.dark) .textMarker::before {
  opacity: 0.5;
}
